body{
    background-image: url("img/bgbbm.png");
    overflow-x: hidden;
}

/*-------Top Styling--------*/

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
    padding-top: 1em;
}
.toptext{
    text-align: center;
    color: #FFF2D7;
    margin-top: 1em;
}
h1{
    font-family: 'Bebas Neue', cursive;
}
.h1top{
    font-size: 240%;
    color: #FFF2D7;
    z-index: +1;
    margin-top: -2.8rem;
}

/*-------Content Styling--------*/

p{
    font-family: 'Agency FB', arial;
}
.webcontent{
    text-align: center;
    margin-top: 3em;
}
.websitepic{
    display: block;
    margin: auto;
    justify-content:center
}
.linketosite{
    font-family: 'Bebas Neue', cursive;
    color: #FFF2D7;
    position: relative;
    font-size: 1.8rem;
    bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    transform: translate(-50%, -50%);
}
.textbox{
    text-align: left;
    margin: auto;
    width: 80%;
}
.p1{
    font-size: 1.3rem;
    color: #FFF2D7;
}
.cline1{
    width: 102%;
    display: block;
}
.p2{
    font-size: 1.3rem;
    color: #FFF2D7;
}
.cline2{
    width: 103%;
    margin-bottom: 1.5rem;
    display: block;
}
.xdpic{
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    justify-content:center
}
.p3{
    font-size: 1.5rem;
    color: #FFF2D7;
    padding-top: 1rem;
}

/*-------Links--------*/

a{
    cursor: pointer;
}

/*-------Footer Styling--------*/

footer{
    padding-top: 3em;
}
.ufo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    object-fit: inherit;
    padding-top: 3.6em;
}
.contact{
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    position: relative;
    left: 0%;
    padding:0%;
    bottom: 1rem;
    z-index: -1;

}
.mail{
    font-family: 'Agency FB', arial;
    position:relative;
    font-size: 20px;
    text-align: center;
    margin-top: -8rem;
    color: #FFF2D7;
    z-index: +1;
}
.mailbox{
    margin-top: -2rem;
}
.footer{
    position: relative;
    text-align: center;
    color: #FFF2D7;
    margin:0%;
    padding:0%;
}
.footerlinks{
    display: flex;
    justify-content: space-evenly;
    vertical-align: middle;

}
.ig{
    width: auto;
    height: 80%;
    padding-top: 18px;
}
.fb{
    display: block;
    margin-top: 1rem;
    width: auto;
    height: 80%;
    padding-top: 3px;
}
.li{
    width: auto;
    height: 80%;
    padding-top: 18px;
}

/*-------Large Text--------*/



/*-------Large Images--------*/

.largelines{
    display: none;
}

/*---------------------Media Query---------------------*/

@media all and (min-width: 600px) {
    body{
        background-image: url("img/bghbl.png");
        background-repeat: no-repeat;
    }
    
/*-------Top Styling MQ--------*/

    .logo{
        width: 5%;
        padding-left: 13px;
    }
    h1{
            padding-left: 15px;
    }
    .h1top{
        padding-top: 5rem;
    }
    .largelines{
        display: inline-block;
        position: relative;
        top: 7.3rem;
        z-index: -1;
    }
        
/*-------Content Styling MQ--------*/

    .blines{
        display: none;
    }
    .textbox{
        text-align: left;
        margin: auto;
        width: 40%;
        padding: 10px;
    }
    .websitepic{
        width: 40%;
        height: auto;
    }
    .p1{
        font-size: 1.5rem;
        padding-bottom: 2rem;
    }
    .p2{
        font-size: 1.5rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .xdpic{
        width: 100%;
        height: auto;
    }
            
/*-------Text Styling MQ--------*/

    .h1top{
        font-size: 350%;
    }
            
/*-------Content turned off MQ--------*/

    .blines{
        display: none;
    }
            
/*-------Footer Styling MQ--------*/

    .ufo{
        display:none;
    }
    .contact{
        font-size: 38px;
        position: relative;
        left: -9px;
        padding-top: 2rem;
    }
    .mail{
        position: relative;
        margin-top: -6em;
        left: -10px;
        z-index: +1;
    }
    .ig{
        margin-left: -1.5rem;
    }
}