body{
    background-image: url("img/bg.png");
    overflow-x: hidden;
}

/*-------Top Styling--------*/

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
    padding-top: 1em;
}
.toptext{
    text-align: center;
    color: #FFF2D7;
    margin-top: 1em;
}
h1{
    font-family: 'Bebas Neue', cursive;
}
.h1top{
    font-size: 240%;
    color: #FFF2D7;
    z-index: +1;
    margin-top: -2.8rem;
}

/*-------Content Styling--------*/

h2{
    font-family: 'Bebas Neue', cursive;
}
.h2text1{
    font-family: 'Bebas Neue', cursive;
    position: relative;
    text-align: center;
    color: #FFF2D7;
    font-size: 2.5em;
    top: 4.5rem;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    transform: translate(-50%, -50%);
    color: #FFF2D7;
}
.h2text2{
    font-family: 'Bebas Neue', cursive;
    position: relative;
    text-align: center;
    color: #FFF2D7;
    font-size: 2.5em;
    top: 3rem;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    transform: translate(-50%, -50%);
    color: #FFF2D7;
}
.scplayersp{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    align-items: center;
    bottom: 1rem;
    width:80%;
    height:450px;
}
.scplayeran{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    align-items: center;
    bottom: 2.4rem;
    width:80%;
    height:450px;
}
.musiccontent{
    position: relative;
    top:2rem;
}
.infotext{
    font-family: 'Bebas Neue', cursive;
    position: relative;
    text-align: center;
    color: #FFF2D7;
    font-size: 1.5em;
    top: -5rem;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    transform: translate(-50%, -50%);
    color: #FFF2D7;
}
.ytlogo{
    display: block;
    width:62px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    align-items: center;
    right: 7.1rem;
    top: 10.2rem;
}
.splogo{
    display: block;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    align-items: center;
    top: 6.5rem;
}
.sclogo{
    display: block;
    width: 48px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    align-items: center;
    top: 3.4rem;
    left:6.8rem;
}


/*-------Links--------*/

a{
    cursor: pointer;
}

/*-------Footer Styling--------*/

.ufo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    object-fit: inherit;
    padding-top: 3.6em;
}
.contact{
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    position: relative;
    left: 0%;
    padding:0%;
    bottom: 1rem;
    z-index: -1;

}
.mail{
    font-family: 'Agency FB', arial;
    position:relative;
    font-size: 20px;
    text-align: center;
    margin-top: -8rem;
    color: #FFF2D7;
    z-index: +1;
}
.mailbox{
    margin-top: -2rem;
}
.footer{
    position: relative;
    text-align: center;
    color: #FFF2D7;
    margin:0%;
    padding:0%;
}
.footerlinks{
    display: flex;
    justify-content: space-evenly;
    vertical-align: middle;

}
.ig{
    width: auto;
    height: 80%;
    padding-top: 18px;
}
.fb{
    display: block;
    margin-top: 1rem;
    width: auto;
    height: 80%;
    padding-top: 3px;
}
.li{
    width: auto;
    height: 80%;
    padding-top: 18px;
}

/*-------Large Text--------*/



/*-------Large Images--------*/

.largelines{
    display: none;
}

/*---------------------Media Query---------------------*/

@media all and (min-width: 600px) {
    body{
        background-image: url("img/bgmusic1.png");
        background-repeat: no-repeat;
    }
    
/*-------Top Styling MQ--------*/

    .logo{
        width: 5%;
        padding-left: 13px;
    }
    h1{
            padding-left: 15px;
    }
    .h1top{
        padding-top: 5rem;
    }
    .largelines{
        display: inline-block;
        position: relative;
        top: 7.3rem;
        z-index: -1;
    }
        
/*-------Content Styling MQ--------*/

    .largecontent{
        display: flex;
        justify-content: space-around;
        vertical-align: middle;
    }
    .blines{
        display: none;
    }
    .infotext{
        text-align: center;
        font-size: 3rem;
        left: 58rem;
        top: -8rem;
    }
    .infobar{
        padding-right: 1rem;
    }
    .ytlogo{
        right: 12rem;
    }
    .sclogo{
        left: 12rem;
    }
            
/*-------Text Styling MQ--------*/

    .h1top{
        font-size: 350%;
    }
            
/*-------Content turned off MQ--------*/

    .blines{
        display: none;
    }
            
/*-------Footer Styling MQ--------*/

    .ufo{
        display:none;
    }
    .contact{
        font-size: 38px;
        position: relative;
        left: -9px;
        padding-top: 2rem;
    }
    .mail{
        position: relative;
        margin-top: -6em;
        left: -10px;
        z-index: +1;
    }
    .ig{
        margin-left: -1.5rem;
    }
}