body{
    background-image: url("img/bg.png");
    overflow-x: hidden;
}

/*-------Top Styling--------*/

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
    padding-top: 1em;
}
.toptext{
    text-align: center;
    color: #FFF2D7;
    margin-top: 1em;
}
h1{
    font-family: 'Bebas Neue', cursive;
}
.h1top{
    font-size: 240%;
    color: #FFF2D7;
    z-index: +1;
    margin-top: -2.8rem;
    padding-right: 1%;
}
.blines{
    position: relative;
    z-index: -1;
}

/*-------Content Styling--------*/

h2{
    font-family: 'Bebas Neue', cursive;
}
.textboxes{
    position: relative;
    text-align: center;
    color: #FFF2D7;
    margin-top: 1em;
}
.videos{
    font-size: 2em;
    position: absolute;
    left: 49%;
    transform: translate(-50%, -50%);
    color: #FFF2D7;
}
.webdesigns{
    font-size: 2em;
    position: absolute;
    top: 2.5em;
    left: 49%;
    transform: translate(-50%, -50%);
    color: #FFF2D7;
}
.music{
    font-size: 2em;
    position: absolute;
    top: 9.9rem;
    left: 49%;
    transform: translate(-50%, -50%);
    color: #FFF2D7;
}
.linev{
    position: relative;
    top: 0.2rem;
    z-index: -1;
}
.linew{
    position: relative;
    top: 1.9rem;
    z-index: -1;
}
.linem{
    position: relative;
    top: 3.5rem;
    z-index: -1;
}
/*-------Links--------*/

.videos a{
    color: #FFF2D7;
    text-decoration: none;
    z-index: +1;
}
.webdesigns a{
    color: #FFF2D7;
    text-decoration: none;
    z-index: +1;
}
.music a{
    color: #FFF2D7;
    text-decoration: none;
    z-index: +1;
}

/*-------Footer Styling--------*/

.ufo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    object-fit: inherit;
    padding-top: 21em;
}
.contact{
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    position: relative;
    left: 0%;
    margin-top: -3rem;
    padding-top: 4rem;
}
.mail{
    font-family: 'Agency FB', arial;
    position:relative;
    font-size: 20px;
    text-align: center;
    margin-top: -8rem;
    color: #FFF2D7;
}
.mailbox{
    margin-top: -2rem;
}
.footer{
    position: relative;
    text-align: center;
    color: #FFF2D7;
    margin-top: -2em;
}
.footerlinks{
    display: flex;
    justify-content: space-evenly;
    vertical-align: middle;
}
.ig{
    width: auto;
    height: 80%;
    padding-top: 18px;
}
.fb{
    display: block;
    margin-top: 1rem;
    width: auto;
    height: 80%;
    padding-top: 3px;
}
.li{
    width: auto;
    height: 80%;
    padding-top: 18px;
}

/*-------Large Text--------*/

.videoslarge{
    display: none;
}
.webdesignslarge{
    display: none;
}
.musiclarge{
    display: none;
}

/*-------Large Images--------*/

.largelines{
    display: none;
}
.planet1{
    display: none;
}
.astronauts{
    display: none;
}
.planet2{
    display: none;
}

/*---------------------Media Query---------------------*/

@media all and (min-width: 600px) {
    body{
        background-image: url("img/projectbg.png");
        background-repeat: no-repeat;
    }
    
/*-------Top Styling MQ--------*/

    .logo{
        width: 5%;
        padding-left: 13px;
    }
    h1{
            padding-left: 15px;
    }
    .h1top{
        padding-top: 5rem;
    }
    .largelines{
        display: inline-block;
        position: relative;
        top: 7.3rem;
        z-index: -1;
    }
        
/*-------Content Styling MQ--------*/

    .largecontent{
        display: flex;
        justify-content: space-around;
        vertical-align: middle;
    }
    .blines{
        display: none;
    }
    .planet1{
        display: inline-block;
        position: relative;
        margin-right: -8rem;
        margin-left: -2rem;
        bottom: 2rem;
    }
    .astronauts{
        display: inline-block;
        position: relative;
        padding-right: 4rem;
        bottom: 2rem;
    }
    .planet2{
        display: inline-block;
        position: relative;
        margin-left: -11rem;
        bottom: 0.5rem;
    }
            
/*-------Text Styling MQ--------*/

    .h1top{
        font-size: 350%;
    }
    .videoslarge{
        position: absolute;
        display: inline-block;
        color: #FFF2D7;
        font-size: 5em;
        text-align: center;
        bottom: 7rem;
        left: 15%;
        transform: translate(-50%, -50%);
    }
    .webdesignslarge{
        position: absolute;
        display: inline-block;
        color: #FFF2D7;
        font-size: 5em;
        text-align: center;
        bottom: 7rem;
        left: 49.7%;
        transform: translate(-50%, -50%);
    }
    .musiclarge{
        position: absolute;
        display: inline-block;
        color: #FFF2D7;
        font-size: 5em;
        text-align: center;
        bottom: 7rem;
        left: 100rem;
        transform: translate(-50%, -50%);
    }
    .videoslarge a{
        color: #FFF2D7;
        text-decoration: none;
    }
    .webdesignslarge a{
        color: #FFF2D7;
        text-decoration: none;
    }
    .musiclarge a{
        color: #FFF2D7;
        text-decoration: none;
    }
    .largecontent{
        position: relative;
        text-align: center;
    }
            
/*-------Content turned off MQ--------*/

    .contentlines{
        display: none;
    }
    .linem{
        display: none;
    }
    .linev{
        display: none;
    }
    .linew{
        display: none;
    }
    .videos{
        display: none;
    }
    .webdesigns{
        display: none;
    }
    .music{
        display: none;
    }
            
/*-------Footer Styling MQ--------*/

    .ufo{
        display:none;
    }
    .contact{
        font-size: 38px;
        position: relative;
        left: -10px;
        padding-top: 5em;

    }
    .mail{
        position: relative;
        margin-top: -6em;
        left: -10px;
    }
    .ig{
        margin-left: -1.5rem;
    }
}