/*Baggrunden*/
body{
    background-image: url(img/hbbglong.png);
    background-repeat: repeat-y;
    letter-spacing: 4px;
    margin: 0;
    padding: 50px;
    font-family: 'Courier New', Courier, monospace;
}

/*Navigation*/
.nav > ul{
    background-color: rgb(8, 36, 68);
    border: 2px solid rgb(224, 148, 52);
    color: rgb(224, 148, 52);
    list-style: none;
    text-align: right;
    padding: 50px 50px;
}
.nav > ul > li {
    display: inline-block;
    padding-right: 25px;
    list-style: none;
    text-align: right;
    font-weight: bolder;
    font-size: 16px;
}
.nav > ul > li > a{
    text-decoration: none;
    color: rgb(224, 148, 52);
}
.nav > ul > li > a:hover {
    color: #c1c1c1;
}
.logo{
    float: left;
    padding-left: 25px 10%;
    margin-top: 12px;
    margin-left: 25px;
}

.hotels > .kepler{
    max-width: 10%;
    height: auto;
}
.hotels > .saturn{
    max-width: 10%;
    height: auto;
}
.hotels > .mars{
    max-width: 10%;
    height: auto;
}
.hotels > .pluto{
    max-width: 10%;
    height: auto;
}
.hotels > .venus{
    max-width: 10%;
    height: auto;
}
/*Overskrift*/
h2{
    color: rgb(224, 148, 52);
    padding-top: 100px;
}

/*Brødtekst*/
p{
    color: rgb(224, 148, 52);
    background-color: rgba(11, 56, 107, 0.534);
    font-size: 12;
    font-weight: bold;
}

/*Knapper*/
/*Ubesøgt og besøgt link*/
.bestil{
    background-color: rgba(11, 56, 107, 0.534);
    border: 2px solid rgb(224, 148, 52);
    color: rgb(224, 148, 52);
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    display: inline-block;
    font-weight: bold;
}

/*Mus over link og valgte link*/
.bestil > a:hover, a:active{
    color: #c1c1c1;
}

.hotels > img {
    float: right;
}

